<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 – Nenájdené</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container py-5">
    <div class="text-center">

        <h1 class="display-3 text-danger">404</h1>
        <p class="lead mb-4" th:text="${error}">Požadovaný zdroj sa nenašiel.</p>

        <a th:href="@{/templates/employees}" class="btn btn-primary btn-lg">
            Späť na zoznam zamestnancov
        </a>

    </div>
</div>

</body>
</html>
